@charset "UTF-8";

:root{
    --text: #FFFFFF;
    --text-light: rgba(255, 255, 255, 0.5);
    --bg: #0B0B0B;
    --main-bg: #101010;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg);
}
#sectionAddSearch{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-top: 80px;
}

#sectionAddSearch span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.btnAdd, .btnSearch{
    width: 35px;
    height: 35px;

    color: black;
    font-size: 1.7em;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    border-radius: 3px;

    cursor: pointer;
}

#inputAdd, #inputSearch{
    height: 35px;

    font-size: 1.3em;
    color: var(--text);

    background-color: var(--main-bg);

    border: none;
    border-radius: 3px;

    outline: none;

    padding: 5px 10px;
}

#inputAdd::placeholder, #inputSearch::placeholder{
    color: var(--text-light);
}

main{
    width: 100%;
    max-height: 73vh;

    padding: 10px 20px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    overflow: scroll; 
}

.alertEmpty{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    font-size: 1.7em;

    display: block;
}

.alertNone{
    display: none;
}

.tarefa{
    width: 100%;
    
    background-color: var(--main-bg);

    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);

    text-align: left;

    padding: 5px 10px;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ri-checkbox-fill ~ span{
    color: var(--text-light);
}

.tarefa i{
    cursor: pointer;
}

.tarefa span{
    transition: .2s;
}

